{% extends 'base.html'%}
{% load static %}

{% block content %}

<div class="card">
    <div class="d-flex bd-highlight">
      <div class="card-body">

        <h4 class="card-title mb-3">
          Orçamentos
          <a href="{ url 'orcamento:orcamento_create'  %}}">
            <button type="button" class="btn btn-link shadow-none">
              Cadastrar
            </button>
          </a>
          <div class="dropdown d-inline">
            <a class="dropdown-toggle text-muted me-3 mb-3 align-middle" href="#" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <button type="button" class="btn btn-link shadow-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-search icon-sm">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg><span>Buscar</span>
              </button></a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0">
              <form class="p-2">
                <div class="search-box">
                  <div class="position-relative">

                    <input type="text" name="search" class="form-control rounded bg-light border-0"
                      hx-get="{% url 'produto:produto_items_search' %}"
                      hx-trigger="keyup changed delay:250ms, search"
                      hx-target="#search-results" placeholder="buscando...">

                    <span id="search-results"></span>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </h4>

        <div class="table-responsive">
          <table class="table table-hover mb-0 align-middle">
            <thead class="bg-light">
                <th class="rounded-start" style="width: 15px;">
                  <div class="form-check">
                    <input class="form-check-input font-size-16" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault"> </label>
                  </div>
                
                </tr>
              
                {% include '../orcamento/orcamento_form.html'  %}
              
              
              


                
              

              <!-- end /tr -->
            </tbody><!-- end tbody -->
          </table><!-- end table -->
        </div>
      </div>
    </div>
  </div>
  <script>
    function closeModal() {
      var container = document.getElementById("modals-here")
      var backdrop = document.getElementById("modal-backdrop")
      var modal = document.getElementById("modal")
    
      modal.classList.remove("show")
      backdrop.classList.remove("show")
    
      setTimeout(function() {
        container.removeChild(backdrop)
        container.removeChild(modal)
      }, 200)
    }
  </script>

{% endblock %}