{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <h4>Entregas</h4>

    {{entrega.as_p}}

    <div class="mt-4">
      <button class='btn btn-primary' type="submit">Salvar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>

{% endblock content %}

{% block js %}
  <script src="{% static 'js/orcamento.js' %}"></script>

  <script>
    // Necessário por causa do delete
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
  </script>

{% endblock js %}
